In [1]:
import pandas as pd

In [2]:
query_df = pd.read_csv('../data/a_dataset/query_data.csv')
query_df.head()

   id    text  label
0   0  纸巾 实惠装      6
1   1   电饭煲5L     14
2   2    明侦学院      4
3   3    我买坚果      2
4   4    给我草帽     10

In [3]:
goods_df = pd.read_csv('../data/a_dataset/goods_data.csv')
goods_df.head()

   id          text  label
0   0      T恤,短袖,上衣      1
1   1   牛仔短裤,五分裤,裤子      8
2   2     外套,夹克,小上衣      1
3   3     裤子,休闲裤,长裤      8
4   4  隐形袜,短袜,船袜,袜子      9

In [9]:
df = pd.merge(goods_df, query_df[['text', 'label']], on='label')

In [12]:
df.to_csv('./eda.csv', index=None)